@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Maven+Pro:700');

body {
	background-image: url("images/coffee-banner.jpg");
	background-size:cover;
	background-position: right;
}

nav{
	background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}

header{
	background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

section {
    background-color:#FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

aside{
	background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
    text-align: left;
}

article {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
    text-align: left;
}

footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
	font-weight: bold;
	text-align: center;
}

h1 {
	text-align: center;
  	font-family: 'Maven Pro', sans-serif;
  	font-size: 40px;
  	color: black;
  	background-color: rgba(255,255,255,.4);
}

h2, h4, p, ol{
	color: #d32323;
	font-weight: bold;
	text-align: center;
	background-color: rgba(255,255,255,.4);
	font-family: 'Crimson Text', serif;
}

h3{
	color: #d32323;
	font-weight: bold;
	font-family: 'Crimson Text', serif;
}

li{
	text-align: left;
}

hr {
	width: 300px;	
	color: black;
}

a{
	text-decoration: none;
	color: #d32323;
	font-size: 18px;
}

#cafe4{
	text-decoration:  underline;
	text-align: left;
}

#review{
	text-align: left;
}

#slogan{
	font-size: 40px;
	font-style: italic;
	font-family: 'Maven Pro', sans-serif;
}

#wrapper{
	width:960px;
	margin:0 auto;
}

#enter{
	text-align: left;
	background-color: rgba(0,0,0,0);
}

#login{
	text-align: right;	
	background-color: rgba(0,0,0,0);
}

#recent{
	text-align: left;
}

.future{
	font-size:15px;
	text-align: left;
	color: black;
}

.contacts{
	text-align: left;
	background-color: rgba(255,255,255,.4);
	font-size: 18px;
}


