body {
	background-image: url("images/cafe2.jpg");
	font-family: Helvetica;
	background-size:cover;
}

h1{
	text-transform: uppercase;
}

h1, h2, h3, p, ul{
	color: #d32323;
	font-weight: bold;
	text-align: center;
}

hr{
	width: 300px;	
	color: black;
}

h2, h3, p {
	text-transform: none;
}

a{
	text-decoration: none;
}

#slogan{
	font-size: 40px;
	font-style: italic;
}

.contacts{
	text-align: left;
	background-color: rgba(255,255,255,.3);
}