@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Maven+Pro:700');

body {
	background-image: url("images/coffee-banner.jpg");
	background-size:cover;
}

nav{
	background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}

header{
	background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

aside{
	background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
    text-align: left;
}

h1 {
	text-align: center;
  	font-family: 'Maven Pro', sans-serif;
  	font-size: 40px;
  	color: black;
  	background-color: rgba(255,255,255,.4);
}

h2, h4, p, ol{
	color: #d32323;
	font-weight: bold;
	text-align: center;
	background-color: rgba(255,255,255,.4);
	font-family: 'Crimson Text', serif;
}

h3{
	color: #d32323;
	font-weight: bold;
	text-align: center;
	font-family: 'Crimson Text', serif;
}

main{
  background-color: rgba(192,222,197,.8);
  margin: 0 3em 0 3em;
  padding: .2em;
  border: 2px dotted;
}

li{
	text-align: left;
}

hr {
	width: 300px;	
	color: black;
}

a{
	text-decoration: none;
	color: #d32323;
	font-size: 18px;
}

#slogan{
	font-size: 40px;
	font-style: italic;
	font-family: 'Maven Pro', sans-serif;
}

#OL{
	text-align: left;
	margin-top: 50px;
}

#wrapper{
	background-color: rgba(20,133,204,.3);
	width:960px;
	margin:0 auto;
}

#enter{
	text-align: left;
	background-color: rgba(0,0,0,0);
}

#login{
	text-align: right;	
	background-color: rgba(0,0,0,0);
}

#recent{
	text-align: left;
}

.future{
	font-size:15px;
	text-align: left;
	color: black;
}

.contacts{
	text-align: left;
	background-color: rgba(255,255,255,.4);
	font-size: 18px;
}

.paragraph{
	text-align: left;
	color: black;
	margin: 1em 3em 1em 3em;
	line-height: 1.5em;
}

footer{
	font-weight: bold;
	text-align: center;
	background-color: rgba(255,255,255,.4);
}

strong {
	font-variant: small-caps;
}